.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.image-upload-wrap {
  cursor: pointer;
  margin-top: 20px;
  border: 4px dashed #400040;
  position: relative;
}

.image-upload-wrap:hover {
  background-color: #400040;
  border: 4px dashed #ffffff;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #c0c0c0;
  padding: 60px 0;
}

