@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

section {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.contents {
	display: flex;
	justify-content: flex-end;
	flex-flow: wrap;
	width: 70%;
	margin-top: 6.5rem;
	padding: .5rem;
}

.subContent {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.subContent div {
	border-radius: 1rem;
	border: 1px solid black;
	font-family: 'Do Hyeon', sans-serif;
	padding: 1rem;
}

.contentHeader {
	font-size: 3rem;
	background: black;
	color: white;
	text-align: center;
	width: 400px;
}

.content {
	width: 400px;
	font-size: 2rem;
	cursor: pointer;
	transition: 1s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sideContent {
	width:10%;
	border: 1px white solid;
	border-radius: 1rem;
	position: sticky;
	top: 20%;
	height: 10%;
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	box-shadow: .3rem .175rem .175rem 0 black; 
}

.sideItem {
	flex: 1;
	display: flex;
	border: 1px white solid;
	border-radius: 1rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: .5rem;
	font-family: 'Jua', sans-serif;
}

.sideItem:hover {
	transform: translateY(-5px);
	box-shadow: .3rem .175rem .175rem 0 #808e9b; 
	background: white;
	color: black;
	transition: .5s;
}

.sideItem.active {
	background: white;
	color: black;
}

.loading {
	display: none;
}

.loading.active {
	display: flex;
	flex-direction: column;
	animation: fadeIn 1s forwards;
	position: fixed;
	background: black;
	font-size: 10rem;
	font-family: 'Do Hyeon', sans-serif;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 250;
	align-items: center;
	justify-content: center;
}

.loading.active {
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	animation: fadeIn 1s forwards;
	position: fixed;
	background: black;
	font-size: 10rem;
	font-family: 'Do Hyeon', sans-serif;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 250;
	align-items: center;
	justify-content: center;
}

.loading.active::-webkit-scrollbar{
	width: 10px;
}

.loading.active::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    transition: .7s;
}
.loading.active::-webkit-scrollbar-track {
	border-radius: 1rem;
    background-color: black;
}

.loading.active form{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.loading.active input {
	width: 80%;
	border-radius: 1rem;
	border: 1px black solid;
	font-size: 5rem;
	outline: none;
	font-family: 'Do Hyeon', sans-serif;
	padding: .5rem;
}

.loading.active textarea {
	width: 80%;
	height: 15rem;
	border-radius: 1rem;
	border: 1px black solid;
	font-size: 2.5rem;
	outline: none;
	font-family: 'Do Hyeon', sans-serif;
	resize: vertical;
	padding: .5rem;
}

.loading.active button {
	width: 50%;
	border-radius: 1rem;
	font-size: 2.5rem;
	border: .5rem black solid;
	outline: none;
	font-family: 'Do Hyeon', sans-serif;
	padding: .5rem;
	background: white;
	color: black;
	cursor: pointer;
	transition: .7s;
}

.loading.active button:hover {
	background: gray;
}

.loading.active textarea::placeholder {
	font-size: 5rem;
}

/* animation keyframe */
@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes aniHeader {
	from {
		height: 50px;
	}
	to {
		heigth: 100px;
	}
}
@media (max-width: 1100px){
	.sideContent {
		flex: 1;
	}
	.contents {
		flex: 4;
	}
	.contentCard{
		width: 100%;
	}
}