@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

section {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

form::-webkit-scrollbar { 
	display: none; 
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-flow: wrap;
	width: 90%;
	margin-top: 6.5rem;
	padding: .5rem;
}

.data {
	width: 50%;
	height: 80%;
	border-radius: 1rem;
	display: flex;
	margin-right: .5rem;
	flex-direction: column;
}

.data canvas{
	border-radius: 1rem;
}

.dataContent{
	display: flex;
	overflow: scroll;
	border: 1px solid black;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.dataContent::-webkit-scrollbar{
	width: 10px;
}

.dataContent::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    transition: .7s;
}
.dataContent::-webkit-scrollbar-track {
	border-radius: 1rem;
    background-color: black;
}

.boardDiv {
	height: 80%;
	display: flex;
	width: 40%;
	flex-direction: column;
	align-items: center;
	border-radius: 1rem;
}

.board {
	width: 100%;
}

.board h1 {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 3rem;
	margin: 1rem;
}

.boardContent {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 2rem;
	margin: 1rem;
}

.dataHeader {
	margin: 0;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding-left: 0;
	width: 100%;
}

.dataHeader li {
	z-index: 2;
	cursor: pointer;
	flex: 1;
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 2.75rem;
	border: 1px solid black;
	background: black;
	color: white;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: 1rem;
	transition: .7s;
}

.dataHeader li:hover {
	opacity: .5;
}

.dataHeaderitem.active {
	background: white;
	color: black;
}

#tm {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2rem;
}

#tm img {
	width: 100%;
}

#visual {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2rem;
}

.comment {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
}

.commentBox {
	width: 90%;
	margin-top: .5rem;
	padding: .5rem;
	border: 1px solid black;
	border-radius: 1rem;
}

.commentWriter {
	margin: .5rem;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
}

.commentContent {
	margin: .5rem;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
}

.comment::-webkit-scrollbar{
	width: 10px;
}

.comment::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    transition: .7s;
}
.comment::-webkit-scrollbar-track {
	border-radius: 1rem;
    background-color: black;
}

.commentForm {
	width: 100%;
	display: flex;
	justify-content: center;
}

.commentForm form {
	display: flex;
	width: 100%;
}

.commentArea {
	width: 100%;
	height: 50px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
	padding: 1rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	outline: none;
	resize: vertical;
}

.commentArea::placeholder {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
}

.commentArea::-webkit-scrollbar{
	width: 10px;
}

.commentArea::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    transition: .7s;
}
.commentArea::-webkit-scrollbar-track {
	border-radius: 1rem;
    background-color: black;
}

.commentButton {
	background: black;
	color: white;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border: none;
	outline: none;
	white-space: nowrap;
	padding-left: .75rem;
	padding-right: .75rem;
	cursor: pointer;
	transition: .7s;
}

.commentButton:hover {
	opacity: .7;
}

#frame {
	width: 100%;
	height: 100%;
}

table {
	width: 100%;
	border-radius: 1rem;
}

tbody {
	display:flex;
	flex-direction: row;
}

tbody tr {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

td {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: .25rem;
}

tbody td {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
	border: 1px black solid;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: .25rem .25rem .25rem 0 black; 
	cursor: pointer;
}

td.fieldHeader {
	background: black;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
	color: white;
	border-radius: 1rem;
	padding: 1rem;
}

.mfdBtn {
	width: 100%;
	height: 100%;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 2rem;
	background: black;
	color: white;
	border-radius: 1rem;
	transition: .7s;
	cursor: pointer;
	border: none;
	outline: none;
}

.mfdBtn:hover {
	background: white;
	color: black;
}

.mfdContent {
	display: none;
}


.mfdForm {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.mfdContent.active {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background: black;
	z-index: 250;
	transition: .7s;
	animation: fadeIn 1s forwards;
}

.mfdItem {
	width: 90%;
	display: flex;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 10rem;
	color: white;
	flex-flow: column;
	align-items: center;
}

.mfdContent hr {
	width: 90%;
}

.mfdItem textarea {
	width: 80%;
	height: 15rem;
	border-radius: 1rem;
	border: 1px black solid;
	font-size: 2.5rem;
	outline: none;
	font-family: 'Do Hyeon', sans-serif;
	resize: vertical;
	padding: .5rem;
}

.mfdItem button {
	flex: 1;
	border-radius: 1rem;
	font-size: 2.5rem;
	border: .5rem black solid;
	outline: none;
	font-family: 'Do Hyeon', sans-serif;
	padding: .5rem;
	background: black;
	color: white;
	cursor: pointer;
	transition: .7s;
}

.mfdItem button:hover {
	background: white;
	color: black;
}

.inputGrp {
	display: flex;
	width: 80%;
}

/* animation keyframe */
@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes aniHeader {
	from {
		height: 50px;
	}
	to {
		heigth: 100px;
	}
}
@media (max-width: 1100px){
	.sideContent {
		flex: 1;
	}
	.contents {
		flex: 4;
	}
	.contentCard{
		width: 100%;
	}
}