@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
	height: 100%;
	display: flex;
}

body {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items : center;
}

body::-webkit-scrollbar{
	width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1rem;
    transition: .7s;
}
body::-webkit-scrollbar-track {
	border-radius: 1rem;
    background-color: black;
}

header {
	z-index: 100;
	background: black;
	position: fixed;
	width: 100%;
	color: white;
	height: 100px;
	top: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

header h1 {
	flex: 1;
	font-family: 'Indie Flower', cursive;
	overflow: hidden;
	margin-left: 1rem;
	cursor: pointer;
	
}

.headerMem{
	border: .25rem solid black;
	padding: .5rem;
	border-radius: 1rem;
}

.headerMem.active{
	border: .25rem solid white;
	padding: .5rem;
	border-radius: 1rem;
}

header h1:hover {
	transform: translateY(7px) translateX(7px);
	transition: .5s;
}

.headerGrp {
	display: flex;
	margin-right: 1rem;
}

.together {
	display: none;
}

.together.active{
	display: flex;
	animation: fadeIn 1s forwards;
	position: fixed;
	background: black;
	font-size: 10rem;
	font-family: 'Do Hyeon', sans-serif;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 250;
	align-items: center;
	justify-content: center;
}

.together div{
	flex: 1;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transition: .7s;
}

.together div:hover {
	border-radius: 2rem;
	border: 2rem white solid;
}