@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
	height: 100%;
	display: flex;
}

body {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items : center;
	animation: fadeIn 1.5s;
}

header {
	z-index: 100;
	background: black;
	position: fixed;
	width: 100%;
	color: white;
	height: 100px;
	top: 0;
	margin: 0;
	animation: aniHeader 1s;
	display: flex;
	align-items: center;
}

header h1 {
	flex: 1;
	font-family: 'Indie Flower', cursive;
	overflow: hidden;
	animation: fadeIn 1.5s;
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}

header h1:hover {
	transform: translateY(7px) translateX(7px);
	transition: .5s;
}

header h2 {
	flex: 2;
	font-family: 'Jua', sans-serif;
}

section {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-flow: wrap;
	width: 45%;
	margin-top: 6.5rem;
	padding: .5rem;
}

.contentNav {
	width: 100%;
	display: flex;
	flex-direction: row;
	list-style-type: none;	
	padding: 0;
	margin: 0;
}

.navItem {
	display: flex;
	justify-content: center;
	position: relative;
	cursor: pointer;
	flex: 1;
	font-size: 1.75rem;
	font-family: 'Do Hyeon', sans-serif;
	text-align: center;
	background: black;
	color: white;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	height: 3rem;
	padding-bottom: 10px;
	padding-top: 1rem;
	margin: .6rem;
	transition: .7s;
}

.navItem.active {
	background: white;
	color: black;
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
	border-top: 1px black solid;
	border-right: 1px black solid;
	border-left: 1px black solid;
}

.navItem.active:after {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 9px solid white;
}

.navItem:hover {
	opacity: .5;
}

.navItem:after {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 9px solid white;
}

.cardGroup {
	display:flex;
	flex-flow: wrap;
	height: 100%;
	width: 100%;
}

.contentCard {
	flex: 1;
	border: 1px solid white;
	background: black;
	color: white;
	border-radius: 1rem;
	width: 40%;
	height: 30%;
	margin: .6rem;
	cursor: pointer;
	padding: 1.25rem;
	box-shadow: .3rem .175rem .175rem 0 black; 
}

.contentCard:hover {
	opacity: .5;
	transform: translateY(-5px);
	box-shadow: .5rem .25rem .25rem 0 gray; 
	transition: .3s;
}

.contentCard h1 {
	overflow: hidden;
	font-family: 'Jua', sans-serif;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.contentCard p {
	font-size: 1.25rem;
	font-family: 'Do Hyeon', sans-serif;
	margin-bottom: 2rem;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sideContent {
	width:15%;
	border: 1px white solid;
	border-radius: 1rem;
	position: sticky;
	top: 20%;
	height: 250px;
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	box-shadow: .3rem .175rem .175rem 0 black; 
}

.sideItem {
	flex: 1;
	display: flex;
	border: 1px white solid;
	border-radius: 1rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: .5rem;
	font-family: 'Jua', sans-serif;
}

.sideItem:hover {
	transform: translateY(-5px);
	box-shadow: .3rem .175rem .175rem 0 #808e9b; 
	background: white;
	color: black;
	transition: .5s;
}

.sideItem.active {
	background: white;
	color: black;
}

/* animation keyframe */
@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes aniHeader {
	from {
		height: 50px;
	}
	to {
		heigth: 100px;
	}
}
@media (max-width: 1100px){
	.sideContent {
		flex: 1;
	}
	.contents {
		flex: 4;
	}
	.contentCard{
		width: 100%;
	}
}