@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

section {
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: center;
}

.contents {
	display: flex;
	flex-direction: column;
	margin-top: 7.5rem;
	margin-right: 1rem;
}

.tmform {
	width: 100%;
}

.tmform::-webkit-scrollbar { 
	display: none; 
}

img {
	width: 100%;
}

.contentsNav {
	padding: 1rem;
	background: black;
	font-size: 5rem;
	font-family: 'Do Hyeon', sans-serif;
	text-align: center;
	color: white;
	border: 2px solid black;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	box-shadow: .5rem .5rem .5rem 0 gray; 
	animation: navDance 1s infinite alternate;
}

.contentsItem {
	padding: 3rem;
	border: 2px solid black;
	border-radius: 1rem;
	box-shadow: .5rem .5rem .5rem 0 black; 
}

.contentsItem input {
	width: 100%;
	font-size: 2rem;
	font-family: 'Do Hyeon', sans-serif;
	padding: 1rem;
	text-align: center;
	outline: none;
	margin-top: .5rem;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid gray;
}

.contentsItem input::placeholder {
	color: black;
	font-family: 'Do Hyeon', sans-serif;
}

.contentsItem input:focus {
	border-bottom: 2px solid black;
	transform: translateY(-3px);
	box-shadow: .25rem .25rem .25rem 0 black; 
	transition: .5s;
}

.contentsItem input:focus::-webkit-input-placeholder {
	color: transparent;
	transition: .5s;
}

.sideContent {
	width:10%;
	border: 1px white solid;
	border-radius: 1rem;
	position: sticky;
	top: 20%;
	height: 20%;
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	box-shadow: .3rem .175rem .175rem 0 black; 
}

.sideItem {
	flex: 1;
	display: flex;
	border: 1px white solid;
	border-radius: 1rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: .5rem;
	font-family: 'Jua', sans-serif;
}

.sideItem:hover {
	transform: translateY(-5px);
	box-shadow: .3rem .175rem .175rem 0 #808e9b; 
	background: white;
	color: black;
	transition: .5s;
}

.sideItem.active {
	background: white;
	color: black;
}

.loading {
	display: none;
	animation: fadeIn 1s forwards;
	position: fixed;
	background: black;
	font-size: 10rem;
	font-family: 'Do Hyeon', sans-serif;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 250;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.loading.active {
	display: flex;
}

.loadingHeader {
	width: 100%;
	text-align: center;
}

.loading.active hr {
	width: 100%;
	margin: .5rem;
}

.loadingContent {
	width: 100%;
	display: flex;
	justify-content: center;
}

.loadingItem {
	margin-left: 2rem;
	cursor: pointer;
	border-radius: 1rem;
	transition: .7s;
}

.loadingItem:hover {
	border: 1rem solid black;
}


/* animation keyframe */
@keyframes navDance{
   from{
		transform: translateY(1rem);
   }
   to{
		transform: translateY(-1rem);
   }
}  

@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes aniHeader {
	from {
		height: 50px;
	}
	to {
		heigth: 100px;
	}
}
@media (max-width: 1100px){
	.sideContent {
		flex: 1;
	}
	.contents {
		flex: 4;
	}
	.contentCard{
		width: 100%;
	}
}